@import '../../styles';

.header {
	font-family: $font-stack;
	color: $primary-color;
	background-color: $primary-bg;
	padding: 20px 0px 0px;
	box-shadow: #777 0px 0px 6px;
	.h-status {
		text-align: center;
		.hs-link {
			display: inline-block;
			width: 50%;
			text-transform: uppercase;
			padding-bottom: 10px;
			opacity: 0.8;
			&.active {
				border-bottom: 4px $border-color solid;
				opacity: 1;
			}
		}
	}
}