<div class="add-new">
    <div (click)="displayModel(true)" [class.active]="showmodel" class="an-item">
        <div class="ani-symbol">+</div>
    </div>
</div>

<div class="ani-form" [class.active]="showmodel">
    <div class="anif-input">
        <input [(ngModel)]="inputVal" placeholder="Add New Task">
        <div class="anif-options">
            <div class="anifo-cancel" (click)="displayModel(false)">Decline</div>
            <div class="anifo-submit" (click)="itemSubmit();">Accept</div>
        </div>
    </div>
</div>