// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
$font-stack: 'Montserrat', sans-serif;
$primary-color: #333;

h1 {
	font: 34pt $font-stack;
	color: $primary-color;
}