<!-- List header here -->
<div class="an-mask">
	<div class="header">
		<div class="">
			<h1>
				{{ title }}!
			</h1>
		</div>
		
		<div class="h-status">
			<div class="hs-link active" (click)="service.getIncompleteTasks();">To Do</div>
			<div class="hs-link" (click)="service.getCompleteTasks();">Completed</div>
		</div>
	</div>
	<!-- Checklist body here -->
	<div class="item-list">

	</div>
	<h2>Here are some links to help you start: </h2>
	<ul>
	<li>
		<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
	</li>
	<li>
		<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
	</li>
	<li>
		<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
	</li>
	</ul>
</div>

<div class="add-new">
	<div [ngClass]="{'active': toggle}" (click)="clickEvent($event)" class="an-item">
		<div class="ani-symbol">+</div>
		<div class="ani-form">
			<div class="anif-input">
				<input placeholder="Add New Task">
				<div>
					<div>Decline</div>
					<div (click)="service.getIncompleteTasks();">Accept</div>
				</div>
			</div>
		</div>
	</div>
</div>
