/* You can add global styles to this file, and also import other style files */
// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Variables
$font-stack: 'Montserrat', sans-serif;
$primary-color: #fff;
$primary-bg: #00ddff;
$border-color: #fff56d;


body {
    margin: 0;
    padding: 0;
}